
html, body{
    background: #f5d9d5;
    margin: 0;
    height: auto;
    font-family: 'Lobster', cursive;
}

h4{
    margin: 0;
    color: rgb(148, 110, 133);
}

h4:hover{
    color: rgb(156, 48, 113);
}

.contact{
    text-align: right;
}

.container-fluid{
    padding-top: 7.5%;
}

.title{
    text-align: center;
    background-color: rgb(224, 175, 205);
    border-radius: 20px;
}

.subtitle{
    text-align: center;
}

.filler{
    font-size: 24px;
    color: rgb(207, 62, 74);
}

.row{
    margin: 1%;
    margin-bottom: 1.5%;
}

img{
    border-radius: 15px;
}

table{
    text-align: center;
    background-color: rgb(224, 175, 205)
}
