
html, body{
    font-family: 'Fira Sans', sans-serif;
    size: auto;
}

.logo{
    flex: 1;
}

.title{
    flex: 2.5;
}

.page{
    display: flex;
    flex-direction: column;
}

.navbar{
    justify-content: center;
    display: flex;
    height: auto;
    flex-direction: row;
    position: sticky;
}

.footer{
    justify-content: center;
    display: flex;
    height: auto;
    flex-direction: row;
    position: sticky;  
    bottom: 0px; 
    width: 100%;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 30px;
    border-radius: 0;
}

.container{
    padding-top: 20px;
}

.home{
    flex: 1;
    text-align: center;
}

.teams{
    flex: 1;
    text-align: center;
}

.locations{
    flex: 1;
    text-align: center;
}

.schedule{
    flex: 1;
    text-align: center;
}